<%- include('partials/header') %>

<div class="container mt-5">
  <h1>Questions</h1>

  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">

          <!-- Makes POST request to /questions route -->
          <form action="/questions-old/<%= categoryType.name %>.<%= category.name %>" method="POST">

            <h1><%= categoryType.name %> - <%= category.name %></h1>

            <% questions.forEach(function(question){ %>

              <!-- Get the user's answer for this question, if they've
              answered it already -->
              <% const thisQuestionId = question._id; %>
              <% let userAnswerIndex = userAnswers.findIndex(answer => answer.questionId == thisQuestionId); %>
              <% let userAnswerId = null; %>
              <% if (userAnswerIndex > -1) { %>
              <%     userAnswerId = userAnswers[userAnswerIndex].answerId; %>
              <% }; %>

              <div class="form-group">
                <p><%= question.text %></p>
                <% question.possAnswers.forEach(function(possAnswer){ %>
                  <label><%= possAnswer.ansText %>
                    <input type="radio" name="<%= thisQuestionId %>"
                    value="<%= possAnswer.ansId + "/" + question.possAnswers.length %>"
                    <% if (possAnswer.ansId == userAnswerId) { %>
                      checked="checked"
                    <% }; %>
                    >
                  </label>
                <% }); %>
              </div>
            <% }); %>

            <button type="submit" class="btn btn-dark">Save answers</button>
          </form>

          <hr>
          <a class="btn btn-light" href="/questions-menu-old" role="button">Back to questions menu</a>
          <a class="btn btn-light" href="/profile" role="button">Back to profile</a>
        </div>
      </div>
    </div>

  </div>
</div>

<%- include('partials/footer') %>
