<%- include('partials/header') %>

<div class="container mt-5">
  <h1>Questions</h1>

  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">
          
          <h2 class="main-header" data-cat-Type="<%= categoryTypeName %>" 
            data-cat="<%= categoryName %>">
            <%= categoryTypeName %> - <%= categoryName %></h2>
          
          <!-- Questions mode select -->
          <hr>
          <button class="auto-queue-mode-btn">Auto Queue</button>
          <button class="search-mode-btn">Search</button>
          <button class="prev-answers-mode-btn">Previous Answers</button>
          <hr>
          
          <!-- Prev answers list -->
          <div class="prev-answers-list fully-hidden">
            <div>
              <span>name...</span>
              <button>re-rate</button>
            </div>
            <div>
              <span>name...</span>
              <button>re-rate</button>
            </div>
          </div>

          <div class="question-modes">

            <!-- Auto mode -->
            <div class="auto-mode fully-hidden">
              <!-- Auto queue input panel -->
              <div class="queue-input-panel">
                <label>
                  <h3>Auto queue...</h3>
                  <input class="incl-prev-ans" type="checkbox"> Include already answered
                </label>
                <hr>
              </div>
              <!-- Answer UI panel -->
              <div class="answer-panel">
                <div>
                  <p class="curr-question">Placeholder...</p>
                  <div class="prev-ans-info hidden">
                    <p>Question is already scored, current answer is:</p>
                    <p class="prev-ans-val"></p>
                  </div>
                </div>
                <div class="rate-panel">
                  <button class="change-score-btn big-change-btn down-btn"><<</button>
                  <button class="change-score-btn small-change-btn down-btn"><</button>
                  <span class="rating-score">5</span>
                  <button class="change-score-btn small-change-btn up-btn">></button>
                  <button class="change-score-btn big-change-btn up-btn">>></button>
                  <br>
                  <button class="skip-btn">Skip this one</button>
                  <button class="rate-btn">Rate it!</button>
                </div>
              </div>
              <hr>
            </div>

            
            <!-- Search mode -->
            <div class="search-mode fully-hidden">
              <!-- Search queue input panel -->
              <div class="queue-input-panel">
                <h3>Search...</h3>
                <input type="text" class="search-input" placeholder="Enter film title...">
                <button class="search-btn">-></button>
                <br>
                <label>
                  <input class="incl-prev-ans" type="checkbox" checked="checked"> Include already answered
                </label>
                <hr>
              </div>
              <!-- Answer UI panel -->
              <div class="answer-panel">
                <div class="curr-question-div">
                  <p class="curr-question">Placeholder...</p>
                </div>
                <div class="prev-ans-info hidden">
                  <p>Question is already scored, current answer is:</p>
                  <p class="prev-ans-val"></p>
                </div>
                <div class="rate-panel">
                  <button class="change-score-btn big-change-btn down-btn"><<</button>
                  <button class="change-score-btn small-change-btn down-btn"><</button>
                  <span class="rating-score">5</span>
                  <button class="change-score-btn small-change-btn up-btn">></button>
                  <button class="change-score-btn big-change-btn up-btn">>></button>
                  <br>
                  <button class="skip-btn">Skip this one</button>
                  <button class="rate-btn">Rate it!</button>
                </div>
              </div>
              <hr>
            </div>

            
            <!-- Previous answers mode -->
            <div class="single-answer-mode fully-hidden">
              <!-- Answer UI panel -->
              <div class="answer-panel">
                <div class="curr-question-div">
                  <p class="curr-question">Placeholder...</p>
                </div>
                <div class="prev-ans-info hidden">
                  <p>Question is already scored, current answer is:</p>
                  <p class="prev-ans-val"></p>
                </div>
                <div class="rate-panel">
                  <button class="change-score-btn big-change-btn down-btn"><<</button>
                  <button class="change-score-btn small-change-btn down-btn"><</button>
                  <span class="rating-score">5</span>
                  <button class="change-score-btn small-change-btn up-btn">></button>
                  <button class="change-score-btn big-change-btn up-btn">>></button>
                  <br>
                  <button class="skip-btn">Skip this one</button>
                  <button class="rate-btn">Rate it!</button>
                </div>
              </div>
            </div>

          </div>
          
          <a class="btn btn-light" href="/questions-menu" role="button">Back to questions menu</a>
          <a class="btn btn-light" href="/profile" role="button">Back to profile</a>
        </div>
      </div>
    </div>

  </div>
</div>
 
<script type="module" src="/js/questions.js"></script>

<%- include('partials/footer') %>
