<%- include('partials/header') %>

<div class="container mt-5">
  <h1>Questions</h1>

  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">
          
          <h2 class="main-header" data-cat-Type="<%= categoryTypeName %>" 
            data-cat="<%= categoryName %>">
            <%= categoryTypeName %> - <%= categoryName %></h2>

          <button>Show current answers</button>
          
          <hr>
          <h3>Search for a film</h3>
          <input type="text" name="search" placeholder="Enter film title...">
          <hr>
          <h3>Filter new Qs</h3>
          <!-- checkbox for each genre (ticked by default), expand and 
          collapsible (actually buttons that highlight -->
          <input type="date" name="filter-date-from">
          <input type="date" name="filter-date-to">
          <!-- another search box for people that shows results then adds these 
          people to filter list of include_people -->
          <hr>



          <div>
            <div>
              <p class="curr-question">Placeholder...</p>
            </div>
            <div>
              <button><<</button>
              <button><</button>
              <span class="rating-score">5</span>
              <button>></button>
              <button>>></button>
              <br>
              <button class="not-seen-btn">Not seen it</button>
              <button class="rate-btn">Rate it!</button>
            </div>
          </div>

          <hr>
          <a class="btn btn-light" href="/questions-menu" role="button">Back to questions menu</a>
          <a class="btn btn-light" href="/profile" role="button">Back to profile</a>
        </div>
      </div>
    </div>

  </div>
</div>

<%- include('partials/footer') %>
