<%- include('partials/header') %>

<div class="container mt-5">
  <h1>Questions</h1>

  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">

            <% allCategoryTypes.forEach(function(categoryType){ %>
              <h2><%= categoryType.name %></h2>
            <%  categoryType.categories.forEach(function(category){ %>
                <a class="btn btn-light btn-lg"
                href="/questions-old/<%= categoryType.name %>.<%= category.name %>
                " role="button"><%= category.name %></a>
            <%  }); %>
            <% }); %>

          <hr>
          <a class="btn btn-light" href="/profile" role="button">Back to profile</a>
        </div>
      </div>
    </div>

  </div>
</div>

<%- include('partials/footer') %>
