<%- include('partials/header') %>

<div class="container mt-5">
  <h1>Questions</h1>

  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">
          
          <h2 class="main-header" data-cat-Type="<%= categoryTypeName %>" 
            data-cat="<%= categoryName %>">
            <%= categoryTypeName %> - <%= categoryName %></h2>
          
          <!-- Questions mode select -->
          <hr>
          <button class="auto-queue">Auto Queue</button>
          <button class="search">Search</button>
          <button class="curr-answers">Current Answers</button>
          <hr>

          <!-- Auto queue panel -->
          <div class="auto-queue-panel">
            <label>
              <h3>Auto queue...</h3>
              <input class="incl-prev-ans" type="checkbox" checked="checked"> Include already answered
            </label>
            <hr>
          </div>

          <!-- Search queue panel -->
          <div class="search-queue-panel">
            <h3>Search...</h3>
            <input type="text" class="search-term" placeholder="Enter film title...">
            <button class="search-btn">-></button>
            <br>
            <label>
              <input class="incl-prev-ans" type="checkbox" checked="checked"> Include already answered
            </label>
            <hr>
          </div>

          <!-- Questions UI panel -->
          <div>
            <div>
              <p class="curr-question">Placeholder...</p>
              <div class="prev-ans-info hidden">
                <p>Question is already scored, current answer is:</p>
                <p class="prev-ans-val"></p>
              </div>
            </div>
            <div class="rate-panel">
              <button class="change-score-btn big-change-btn down-btn"><<</button>
              <button class="change-score-btn small-change-btn down-btn"><</button>
              <span class="rating-score">5</span>
              <button class="change-score-btn small-change-btn up-btn">></button>
              <button class="change-score-btn big-change-btn up-btn">>></button>
              <br>
              <button class="skip-btn">Skip this one</button>
              <button class="rate-btn">Rate it!</button>
            </div>
          </div>
          <hr>




          <a class="btn btn-light" href="/questions-menu" role="button">Back to questions menu</a>
          <a class="btn btn-light" href="/profile" role="button">Back to profile</a>
        </div>
      </div>
    </div>

  </div>
</div>
 
<script type="module" src="/js/questions.js"></script>

<%- include('partials/footer') %>
