<%- include('partials/header') %>
  <title>Kindred | Questions</title>
</head>
<body>
  <%- include('partials/navbar') %>
  
  <div class="page-content">
    <div class="questions-menu-content">
      <h1 class="page-heading">Questions</h1>
    
      <div class="border-box-wrapper">
        <%- include('partials/borders') %>
    
        <div class="border-box-content">
          <% allCategoryTypes.forEach(function(categoryType) { %>
            <div class="q-menu-cat-group">
              <h2 class="q-menu-heading"><%= categoryType.name %></h2>
              <%  categoryType.categories.forEach(function(category) { %>
                  <a class="blue-btn"
                  href="/questions/<%= categoryType.name %>/<%= category.name %>" 
                  role="button"><%= category.name %></a>
              <%  }); %>
            </div>
          <% }); %>
        </div>
    
      </div>
    </div>
  </div>

  <div class="footer">
    <div class="back-btns-wrapper">
      <a class="grey-btn" href="/profile" role="button">Back to Profile</a>
    </div>
  </div>
  
<%- include('partials/footer') %>
