<%- include('../partials/header') %>
  <title>Kindred | Find Kindred</title>
</head>
<body>
  <div class="pre-footer">
    <%- include('../partials/navbar') %>

    <div class="page-content">
      <div class="page-heading-wrapper">
        <h1 class="page-heading">Find Kindred</h1>
        <h6 class="page-sub-heading">Find people that share your tastes and interests.</h6>
      </div>

      <!-- Input panel -->
      <div class="kindred-input-container">
        <div class="cat-selects">
          <div class="border-box-wrapper">
            <%- include('../partials/borders') %>
            <div class="border-box-content">
              <div class="based-on">
                <%- include('../partials/categoryCheckboxesLimitSelects') %>
              </div>
            </div>
  
            <button class="info-btn">
              <i class="fa-solid fa-circle-info"></i>
              <span class="info-txt fully-hidden transparent">You must answer at least 6 questions in a category before you can use it to find Kindred.</span>
            </button>
          </div>
        </div>
  
        <div class="centre-content-h">
          <button class="find-kindred-btn kindred-recs-btn blue-btn">Find Kindred</button>
        </div>
      </div>

      <!-- Kindred list -->
      <div class="border-box-wrapper white-fade">
        <%- include('../partials/borders') %>
        <div class="border-box-content kindred-list">
          
          <div class="header-row">
            <div class="pos-rel">
              <span>Similarity score</span>
              <button class="info-btn header-row-info-btn">
                <i class="fa-solid fa-circle-info"></i>
                <span class="info-txt info-txt-right fully-hidden transparent">Rating out of 10 for the similarity of your answers to this user's answers for the selected categories.</span>
              </button>
            </div>
            <span>Username</span>
            <span>Location</span>
            <div class="pos-rel">
              <span>Positivity Difference</span>
              <button class="info-btn header-row-info-btn">
                <i class="fa-solid fa-circle-info"></i>
                <span class="info-txt fully-hidden transparent">The average difference in scores by this user compared to yours for the categories selected. A positive number means this user generally scored more positively than you.</span>
              </button>
            </div>
          </div>

          <hr>
          
          <div class="centre-content-h">
            <div class="loader fade-trans fully-hidden transparent"></div>
          </div>
          
          <div class="content fade-trans"></div>
        </div>
      </div>

    </div>
  </div>

  <div class="footer">
    <div class="back-btns-wrapper">
      <a class="grey-btn" href="/profile" role="button">Back to Profile</a>
    </div>
  </div>

<script type="module" src="/js/pages/find-kindred.js"></script>

<%- include('../partials/endBody') %>
