<%- include('../partials/header') %>
  <title>Find Kindred</title>
</head>
<body>
  <div class="page-content">
    <%- include('../partials/navbar') %>

    <div class="questions-content">     
      <h3 class="main-header" data-cat-Type="<%= categoryTypeName %>" 
        data-cat="<%= categoryName %>">
        <%= categoryTypeName %> - <%= categoryName %>
      </h3>

      <div class="border-box-wrapper">
        <%- include('../partials/borders') %>
          
        <!-- Questions mode select -->
        <div class="q-mode-selector">
          <button class="auto-queue-mode-btn q-mode-btn">Suggestions</button>
          <button class="search-mode-btn q-mode-btn">Search</button>
          <button class="prev-answers-mode-btn q-mode-btn">Previous Answers</button>
        </div>
    
        <div class="border-box-content">
          
          <!-- Prev answers list -->
          <div class="prev-answers-list q-source fade-trans fully-hidden transparent">
            <div class="content"></div>
          </div>

          <div class="question-modes">
            <!-- Auto mode -->
            <%- include("../partials/questions/autoMode") %>
            
            <!-- Search mode -->
            <%- include("../partials/questions/searchMode") %>

            <!-- Previous answers mode -->
            <%- include("../partials/questions/singleAnswerMode") %>
          </div>  
        </div>  
      </div>  
    </div>
  </div>

  <div class="footer">
    <div class="back-btns-wrapper">
      <a class="white-btn" href="/questions-menu" role="button">Back to Questions Menu</a>
      <a class="grey-btn" href="/profile" role="button">Back to Profile</a>
    </div>
  </div>
  
  <script type="module" src="/js/pages/questions.js"></script>

<%- include('../partials/footer') %>