<%- include('../partials/header') %>
  <title>Kindred | Questions</title>
  <meta name="description" content="Answer questions about your personality and interests to fill out your Kindred profile.">
</head>
<body>
  <div class="pre-footer">
    <%- include('../partials/navbar') %>

    <main class="questions-menu-content">
      <div class="page-heading-wrapper">
        <h1 class="page-heading">Questions</h1>
        <h2 class="page-sub-heading h-size-6">Improve your recommendations and kindred matches by answering more questions.</h2>
      </div>
    
      <div class="border-box-wrapper">
        <%- include('../partials/borders') %>
    
        <div class="border-box-content">
          <% allCategoryTypes.forEach(function(categoryType) { %>
            <div class="q-menu-cat-group">
              <h3 class="q-menu-heading h-size-2"><%= categoryType.name %></h3>
              <%  categoryType.categories.forEach(function(category) { %>
                  <a class="blue-btn"
                  href="/questions/<%= categoryType.name %>/<%= category.name %>" 
                  ><%= category.name %></a>
              <%  }); %>
            </div>
          <% }); %>
        </div>
    
      </div>
    </main>
  </div>

  <div class="footer">
    <div class="back-btns-wrapper">
      <a class="grey-btn" href="/profile">Back to Profile</a>
    </div>
  </div>
  
<%- include('../partials/endBodyLoggedIn') %>