<%- include('../partials/header') %>
  <title>Kindred | Recommendations</title>
</head>
<body>
  <div class="pre-footer">
    <%- include('../partials/navbar') %>

    <div class="page-content">
      <div class="page-heading-wrapper">
        <h1 class="page-heading">Recommendations</h1>
        <h6 class="page-sub-heading">Get recommendations from people that share your tastes.</h6>
      </div>
  
      <div class="rec-input-container">

        <!-- Input panel -->
        <div class="cat-selects">

          <div class="border-box-wrapper">
            <%- include('../partials/borders') %>
            <div class="border-box-content">
              <div class="recommendations-for">
                <h4 class="recs-input-heading">Recommendations for:</h4>
                <%- include('../partials/recForcategoryCheckboxes') %>
              </div>
            </div>
          </div>
      
          <div class="border-box-wrapper">
            <%- include('../partials/borders') %>
            <div class="border-box-content">
              <div class="based-on">
                <h4 class="recs-input-heading">Based on:</h4>
                <%- include('../partials/basedOnCategoryCheckboxes') %>
              </div>
            </div>

            <button class="info-btn">
              <i class="fa-solid fa-circle-info"></i>
              <span class="info-txt fully-hidden transparent">You must answer at least 6 questions in a category before you can use it to generate recommendations.</span>
            </button>

          </div>

        </div>

        <div class="centre-content-h">
          <button class="get-recs-btn kindred-recs-btn blue-btn">Get Recommendations</button>
        </div>

      </div>
  
      <!-- Recommendations list -->
      <div class="border-box-wrapper white-fade">
        <%- include('../partials/borders') %>
        <div class="border-box-content recommendations-list q-source">
          
          <div class="header-row">
            <div class="pos-rel">
              <span>Score</span>
              <button class="info-btn header-row-info-btn">
                <i class="fa-solid fa-circle-info"></i>
                <span class="info-txt info-txt-right fully-hidden transparent">Your predicted rating for this item.</span>
              </button>
            </div>
            <span></span>
            <span>Title</span>
            <span>Category</span>
            <span></span>
          </div>

          <hr>
          
          <div class="centre-content-h">
            <div class="loader fade-trans fully-hidden transparent"></div>
          </div>
          
          <div class="content fade-trans"></div>
        </div>
      </div>

      <div class="question-modes">
        <!-- Single answer mode -->
        <%- include("../partials/questions/singleAnswerMode") %>
      </div>

    </div>
  </div>

  <div class="footer">
    <div class="back-btns-wrapper">
      <a class="grey-btn" href="/profile" role="button">Back to Profile</a>
    </div>
  </div>

<%- include('../partials/endBody') %>

<script type="module" src="/js/pages/recommendations.js"></script>